.profileView {
  background-color: green;
  height: 15em;
  width: 10em;
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: center;
  float: left;
  margin-left: 1em;
  margin-right: 1em;
}

.dogImage {
  margin-top: 1em;
}
